<div class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
       <div class="campo">
             <label>Nombre</label>
             <input type="text" name="nombre" id="" placeholder="Tu Nombre">
       </div>
       <div class="campo">
             <label>Email</label>
             <input type="email" name="email" id="" placeholder="Tu Email">
       </div>
       <div class="campo">
             <label>Password</label>
             <input type="password" name="password" id="" placeholder="Tu Password">
       </div>
       <div class="campo">
             <label>Repetir Password</label>
             <input type="password" name="confirmar" id="" placeholder="Repetir Password">
       </div>
       <div class="campo">
            <a href="/iniciar-sesion">Volver Iniciar Sesion</a>
       </div>
       <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
       </div>
    </form>
</div>